body {
    margin: 0;
    padding: 0;
    background-color: #8b3c32;
    font-family: cursive;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebc3c3;
    height: 2cm;
  }
  
  .header .logo {
    font-size: 35px;
    font-family: cursive;
    color: rgb(98, 22, 22);
    text-decoration: none;
    margin-left: 80px;
  }
  
  .nav-items {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 2cm;
    background-color: #ebc3c3;
    text-decoration:solid;
    margin-right: 100px;
  }
  
  .nav-items a {
    font-family: cursive;
    font-size: 20px;
    color: rgb(98, 22, 22);
    padding: 35px 20px;
  }
.intro{
    height: 600px;
    width: 100%;
    color: #fff;
}

.cart-btn {
    position:fixed;
    top: 80px;
    right: 20px;
}

.cart-btn .button {
    display:block;
    width: 80px;
    height: 80px;
    background-color: #492c28;
    color: white;
    text-align:center;
    line-height: 80px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }
    
    .cart-btn .button:hover {
    background-color: #714d44;
    }

    ul.products {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
    
    li.product {
    list-style: none;      
    width: 250px;
    margin: 70px;
    padding: 10px;
    background-color: #fff;
    }
    
    li.product .product-content {
        padding: 10px;
    }
    
    li.product .product-content h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    }
    
    li.product .product-info {
    margin: 30px 30px;
    font-size: 18px;
    color: #555;
    }
   
    li.product .add_to_cart {
    background-color: #492c28;
    color: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 18px;
    }
    
    li.product .add_to_cart:hover {
    background-color: #714d44;
    }
    
    
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 22, 22);
    padding: 40px 80px;
    
  }
  
  .footer .copy {
    font-family: cursive;
    font-size: 15px;
      justify-content: space-around;
    color: #ebc3c3;
  }